@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";
@import "variables";
@import "mixins";

/**********************************************
GLOBAL STYLING
***********************************************/

body {
  font-family: 'Basis Grotesque Pro', Arial, 'Roboto', sans-serif;
  font-style: normal;
}


a {
  text-decoration: none;
  color: #fff;
}

.container {
  width: 90%;
  margin: 0 auto;
  @include tablet {
    width: 68%;
  }
  @include desktop {
    width: 90%;
  }
}





/**********************************************
HEADER
***********************************************/

header {
  height: 100vh;
  width: 100%;
  .main-nav {
    background: #202020;
    @include flex-navs;
    justify-content: space-between;
    padding: 14px 20px;
    @include tablet {
      padding: 14px 40px;
    }
    .logo-box {
      img {
        width: 42px;
      }
    }
    .main-items {
      display: none;
      @include large-desktop {
        display: block;
        ul {
          padding-left: 20px;
          cursor: pointer;
          li {
            display: inline-block;
            font-size: 15px;
            font-weight: 700;
            a {
              padding: 22px;
              transition: all .2s ease-out;
              &:hover {
                color: #777;
              }
            }
            a.main-selected {
              color: #777;
            }
          }
        }
      } 
    }
    .user-box {
      color: #fff;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      .profile-box {
        display: none;
        align-items: center;
        justify-content: center;
        border-right: 1px solid rgba(255,255,255, .4);
        padding: 5px;
        @include large-desktop {
          display: inline-flex;;
        }
        i {
          color: #a0a0a0;
          padding: 0 5px 7px;
          font-size: 14px;
        }
      }
      .cart-box {
        padding: 5px;
        border-right: 1px solid rgba(112, 84, 84, 0.4);
        img {
          padding-right: 10px;
          @include desktop {
            padding-left: 10px;
          }
        }
      }
      .menu-bar-box {
        font-size: 24px;
        display: block;
        padding: 5px;
        i {
          padding-left: 8px;
        }
        @include large-desktop {
          display: none;
        }
      }
    }
  }
  .sub-nav {
    display: none;
    position: relative;
    @include tablet {
      @include flex-navs;
      justify-content: center;
      background: #fff;
      color: #000;
      padding: 20px;
      background: #fff;
      color: #000;
      position: relative;
      height: auto;
    }
    @include large-desktop {
      justify-content: space-between;
    }
    .name-box {
      cursor: default;
      display: none;
      @include large-desktop {
        display: block;
      }
      p {
        font-weight: 700;
        font-size: 17px;
        letter-spacing: 1px;
      }
    }
    .sub-items {
      ul {
        cursor: pointer;
        li {
          display: inline-block;
          font-size: 15px;
          padding: 0 15px;
          font-weight: 500;
          @include tablet {
            padding: 0 22px;
          }
          a {
            color: #000;
            &:hover {
              color: $blue;
            }
            &.selected {
              border-bottom: 4px solid $blue;
              padding-bottom: 15px;
              position: relative;
              color: #7a7a7a;
              &::after {
                content: "";
                position: absolute;
                top: 0px;
                left: -22px;
                height: 100%;
                width: 110px;
                border-bottom: 4px solid $blue;
              }
            }
          }
        }
      }
    }
    .buy-now-box {
      padding-left: 120px;
      cursor: pointer;
      display: none;
      @include large-desktop {
        display: block;
      }
      .buy-now-btn {
        background: $blue;
        padding: 22px 60px;
        position: absolute;
        top: 0;
        right: 0;
        font-size: 14px;
        font-weight: 700;
        transition: background .4s ease-out;
        &:hover {
          background: $light-blue;
        }
      }
    }
  }
  .hero-box {
    height: 83%;
    position: relative;
    @include tablet {
      height: 74%;
    }
    @include desktop {
      height: 83%;
    }
    .hero-img {
      background: url(/img/small-background.jpg) $center-background;
      @include background-setting;
      @include tablet {
        background: url(/img/med-background.jpg) $center-background;
        @include background-setting;
      }
      @include desktop {
        background: url(/img/large-background.jpg) $center-background;
        @include background-setting;
      }
    }
    .info-box {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      @include tablet {
        align-items: flex-end;
        padding-bottom: 70px;
      }
      h1 {
        font-family: 'Basis Grotesque Pro Bold';
        color: #fff;
        font-size: 40px;
        padding-bottom: 40px;
        @include tablet {
          font-size: 60px;
          padding-bottom: 55px;
        }
      }
      .action-box {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        cursor: pointer;
        .buy-now-btn {
          display: none;
          @include desktop {
            display: block;
            background: $blue;
            padding: 15px 45px;
            border-radius: 4px;
            font-weight: 700;
            transition: background .4s ease-out;
            &:hover {
              background: $light-blue;
            }
          }
        }
        .watch-video-box {
          display: flex;
          justify-content: center;
          align-items: center;
          color: #fff;
          transition: color .5s ease-in-out;
          &:hover {
            color: $blue;
          }
          .clear {
            margin-left: 0;
            font-size: 48px;
            @include desktop {
              margin-left: 20px;
            }
          }
          span {
            padding-left: 8px;
            font-size: 15px;
          }
        }
      }
    }
  }
  .bottom-buy-box {
    width: 100%;
    background: $light-blue;
    height: 10%;
    display: block;
    @include desktop {
      display: none;
    }
    .flex-container {
      height: 100%;
      width: 95%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include desktop {
        display: none;
      }
      .title-item {
        color: #fff;
        h3 {
          font-size: 15px;
          font-weight: 700;
          padding-bottom: 6px;
        }
      }
      .black-buy-now {
        background: #000;
        width: 108px;
        color: #fff;
        padding: 10px 3px;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        a {
          font-weight: 700;
        }
      }
    }
  }
}